* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: linear-gradient(to right, #d66d75, #e29587);
	overflow: hidden;
}
.wrapper {
	background-color: #fff;
	width: 500px;
	padding: 25px;
	margin: 50px auto 0;
	border-top: 5px solid crimson;
	box-shadow: 5px 10px #888888;
}
.wrapper:hover {
	transition: 0.5s all ease-in-out;
	transform: scale(1.1);
}
.wrapper h2 {
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 30px;
	text-align: center;
}
.input-name {
	width: 90%;
	position: relative;
	margin: 20px auto;
}
.lock {
	padding: 8px 11px;
}
.name {
	width: 45%;
	padding: 8px 0 8px 40px;
}
.input-name span {
	margin-left: 35px;
}
.text-name {
	width: 100%;
	padding: 8px 0 8px 40px;
}
.input-name i {
	position: absolute;
	font-size: 18px;
	border-right: 1px solid #cccccc;
}
.email {
	padding: 8px;
}
.text-name,
.name {
	border: 1px solid #cccccc;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.text-name:hover,
.name:hover {
	background-color: #fafafa;
}
.text-name:focus,
.name:focus {
	-webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
	-moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
	box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
	border: 1px solid #f5ba1a;
	background: #fafafa;
}
.radio-button {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.gender {
	margin-right: 1em;
}
.gender:before {
	content: "";
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin-right: 0.5em;
	border-radius: 100%;
	vertical-align: -3px;
	border: 2px solid #cccccc;
	padding: 0.15em;
	background-color: transparent;
	background-clip: content-box;
	transition: all 0.2s ease;
}

.radio-button:hover + .gender:before {
	border-color: #000;
}
.radio-button:checked + .gender:before {
	background-color: #000;
	border-color: #000;
}
textarea {
	resize: none;
}
.check {
	margin-right: 1em;
	position: relative;
}
.check::before {
	content: "";
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin-right: 0.5em;
	vertical-align: -2px;
	border: 2px solid #cccccc;
	padding: 0.12em;
	background-color: transparent;
	background-clip: content-box;
	transition: all 0.2s ease;
}
.check::after {
	border-right: 2px solid #000;
	border-top: 2px solid #0000;
	content: "";
	height: 20px;
	left: 2px;
	position: absolute;
	top: 7px;
	transform: scaleX(-1) rotate(135deg);
	transform-origin: left top;
	width: 7px;
	display: none;
}
.check-button {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.check-button:hover + .check::before {
	border-color: #000;
}
.check-button:checked + .check::before {
	border-color: #000;
}
.check-button:checked + .check::after {
	-moz-animation: check 0.8s ease 0s running;
	-webkit-animation: check 0.8s ease 0s running;
	animation: check 0.8s ease 0s running;
	display: block;
	width: 7px;
	height: 20px;
	border-color: #000;
}
@-webkit-keyframes check {
	0% {
		height: 0;
		width: 0;
	}
	25% {
		height: 0;
		width: 7px;
	}
	50% {
		height: 20px;
		width: 7px;
	}
}

@keyframes check {
	0% {
		height: 0;
		width: 0;
	}
	25% {
		height: 0;
		width: 7px;
	}
	50% {
		height: 20px;
		width: 7px;
	}
}
.buttonSubmit {
	background: rgba(20, 220, 160, 0.973);
	height: 35px;
	line-height: 35px;
	width: 40%;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
	margin-right: 30px;
}
.buttonSubmit:hover {
	background-color: lightseagreen;
}
.buttonSubmit:hover {
	background-color: #3af143;
}
.buttonReset {
	background: crimson;
	height: 35px;
	line-height: 35px;
	width: 40%;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 30px;
}
.buttonReset:hover {
	background-color: lightseagreen;
}
.buttonReset:hover {
	background-color: #f7310f;
}

@media (max-width: 480px) {
	.wrapper {
		width: 100%;
	}
	.input-name {
		margin-bottom: -10px;
	}
	.name {
		width: 100%;
		padding: 8px 0 8px 40px;
		margin-bottom: 10px;
	}
	.input-name span {
		padding: 0;
		margin: 0;
	}
}
